/*
██╗   ██╗ █████╗ ██████╗ ███████╗
██║   ██║██╔══██╗██╔══██╗██╔════╝
██║   ██║███████║██████╔╝███████╗
╚██╗ ██╔╝██╔══██║██╔══██╗╚════██║
 ╚████╔╝ ██║  ██║██║  ██║███████║
  ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝
*/


@light-blue: #47a3da;
@darker-blue: #afdefa;



/*
██████╗  ██████╗ ██████╗ ██╗   ██╗
██╔══██╗██╔═══██╗██╔══██╗╚██╗ ██╔╝
██████╔╝██║   ██║██║  ██║ ╚████╔╝
██╔══██╗██║   ██║██║  ██║  ╚██╔╝
██████╔╝╚██████╔╝██████╔╝   ██║
╚═════╝  ╚═════╝ ╚═════╝    ╚═╝
global body
*/

@col1: #E1D772;
@col2: #FAF4B1;
@textCol: #394240;

body {
	color: @textCol;
	background-color: @col1;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@col1), to(@col2));
	background-image: -webkit-linear-gradient(top, @col1, @col2);
	background-image:    -moz-linear-gradient(top, @col1, @col2);
	background-image:     -ms-linear-gradient(top, @col1, @col2);
	background-image:      -o-linear-gradient(top, @col1, @col2);
}
/* end body ----------------------- */

/*
██╗      ██████╗  ██████╗ ██╗███╗   ██╗
██║     ██╔═══██╗██╔════╝ ██║████╗  ██║
██║     ██║   ██║██║  ███╗██║██╔██╗ ██║
██║     ██║   ██║██║   ██║██║██║╚██╗██║
███████╗╚██████╔╝╚██████╔╝██║██║ ╚████║
╚══════╝ ╚═════╝  ╚═════╝ ╚═╝╚═╝  ╚═══╝
*/

.loginContainer {
	background-color: black;
	// overflow-y: hidden;
	margin-bottom: 0px;
}
.loginContainer a {
	margin-left: 20%;
}

/* end login --------------------- */

/*
███████╗██╗██████╗ ███████╗    ███╗   ██╗ █████╗ ██╗   ██╗
██╔════╝██║██╔══██╗██╔════╝    ████╗  ██║██╔══██╗██║   ██║
███████╗██║██║  ██║█████╗      ██╔██╗ ██║███████║██║   ██║
╚════██║██║██║  ██║██╔══╝      ██║╚██╗██║██╔══██║╚██╗ ██╔╝
███████║██║██████╔╝███████╗    ██║ ╚████║██║  ██║ ╚████╔╝
╚══════╝╚═╝╚═════╝ ╚══════╝    ╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝

snv = side nav view

*/
.snv-container {
	background-color: @light-blue;
	position: fixed;
}

.snv-container h3 {
	color: @darker-blue;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background-: #0dyyb6;
}


.snv-container-vertical {
	width: 240px;
	height: 100%;
	right: -240px;
	top: 0;
	z-index: 1000;
}

.snv-container-right {
	right: -240px;
}

.snv-container-right-open{
	right: 0px;
}

.main-container-push {

	position: relative;
	left: -240px;
}
.main-containter-push-open{
	left: 0px;
}

/* Transitions */
.main-container-push,
.main-container-push-open,
.snv-container,
.snv-container-push {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all .2s ease;
    transition: all 0.2s ease;
}
/* End Side Nav -------------------- */

/*
New Subject
███╗   ██╗███████╗██╗    ██╗    ███████╗██╗   ██╗██████╗
████╗  ██║██╔════╝██║    ██║    ██╔════╝██║   ██║██╔══██╗
██╔██╗ ██║█████╗  ██║ █╗ ██║    ███████╗██║   ██║██████╔╝
██║╚██╗██║██╔══╝  ██║███╗██║    ╚════██║██║   ██║██╔══██╗
██║ ╚████║███████╗╚███╔███╔╝    ███████║╚██████╔╝██████╔╝
╚═╝  ╚═══╝╚══════╝ ╚══╝╚══╝     ╚══════╝ ╚═════╝ ╚═════╝
*/
.articleSegment{
	margin-top: 10px;
	margin-bottom: 10px;
}
.articleHolder {
	margin-top: 25px;
	margin-bottom: 25px;
}

.NUSLink {
	background-color: red;
	width: 100px;
	height: 100px;
}

.NUSMessage{
 	background-color: blue;
}