/*
██╗   ██╗ █████╗ ██████╗ ███████╗
██║   ██║██╔══██╗██╔══██╗██╔════╝
██║   ██║███████║██████╔╝███████╗
╚██╗ ██╔╝██╔══██║██╔══██╗╚════██║
 ╚████╔╝ ██║  ██║██║  ██║███████║
  ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝
*/
/*
██████╗  ██████╗ ██████╗ ██╗   ██╗
██╔══██╗██╔═══██╗██╔══██╗╚██╗ ██╔╝
██████╔╝██║   ██║██║  ██║ ╚████╔╝
██╔══██╗██║   ██║██║  ██║  ╚██╔╝
██████╔╝╚██████╔╝██████╔╝   ██║
╚═════╝  ╚═════╝ ╚═════╝    ╚═╝
global body
*/
body {
  color: #394240;
  background-color: #e1d772;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1d772), to(#faf4b1));
  background-image: -webkit-linear-gradient(top, #e1d772, #faf4b1);
  background-image: -moz-linear-gradient(top, #e1d772, #faf4b1);
  background-image: -ms-linear-gradient(top, #e1d772, #faf4b1);
  background-image: -o-linear-gradient(top, #e1d772, #faf4b1);
}
/* end body ----------------------- */
/*
██╗      ██████╗  ██████╗ ██╗███╗   ██╗
██║     ██╔═══██╗██╔════╝ ██║████╗  ██║
██║     ██║   ██║██║  ███╗██║██╔██╗ ██║
██║     ██║   ██║██║   ██║██║██║╚██╗██║
███████╗╚██████╔╝╚██████╔╝██║██║ ╚████║
╚══════╝ ╚═════╝  ╚═════╝ ╚═╝╚═╝  ╚═══╝
*/
.loginContainer {
  background-color: black;
  margin-bottom: 0px;
}
.loginContainer a {
  margin-left: 20%;
}
/* end login --------------------- */
/*
███████╗██╗██████╗ ███████╗    ███╗   ██╗ █████╗ ██╗   ██╗
██╔════╝██║██╔══██╗██╔════╝    ████╗  ██║██╔══██╗██║   ██║
███████╗██║██║  ██║█████╗      ██╔██╗ ██║███████║██║   ██║
╚════██║██║██║  ██║██╔══╝      ██║╚██╗██║██╔══██║╚██╗ ██╔╝
███████║██║██████╔╝███████╗    ██║ ╚████║██║  ██║ ╚████╔╝
╚══════╝╚═╝╚═════╝ ╚══════╝    ╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝

snv = side nav view

*/
.snv-container {
  background-color: #47a3da;
  position: fixed;
}
.snv-container h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background-: #0dyyb6;
}
.snv-container-vertical {
  width: 240px;
  height: 100%;
  right: -240px;
  top: 0;
  z-index: 1000;
}
.snv-container-right {
  right: -240px;
}
.snv-container-right-open {
  right: 0px;
}
.main-container-push {
  position: relative;
  left: -240px;
}
.main-containter-push-open {
  left: 0px;
}
/* Transitions */
.main-container-push,
.main-container-push-open,
.snv-container,
.snv-container-push {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all .2s ease;
  transition: all 0.2s ease;
}
/* End Side Nav -------------------- */
/*
New Subject
███╗   ██╗███████╗██╗    ██╗    ███████╗██╗   ██╗██████╗
████╗  ██║██╔════╝██║    ██║    ██╔════╝██║   ██║██╔══██╗
██╔██╗ ██║█████╗  ██║ █╗ ██║    ███████╗██║   ██║██████╔╝
██║╚██╗██║██╔══╝  ██║███╗██║    ╚════██║██║   ██║██╔══██╗
██║ ╚████║███████╗╚███╔███╔╝    ███████║╚██████╔╝██████╔╝
╚═╝  ╚═══╝╚══════╝ ╚══╝╚══╝     ╚══════╝ ╚═════╝ ╚═════╝
*/
.articleSegment {
  margin-top: 10px;
  margin-bottom: 10px;
}
.articleHolder {
  margin-top: 25px;
  margin-bottom: 25px;
}
.NUSLink {
  background-color: red;
  width: 100px;
  height: 100px;
}
.NUSMessage {
  background-color: blue;
}
