/*
██╗   ██╗ █████╗ ██████╗ ███████╗
██║   ██║██╔══██╗██╔══██╗██╔════╝
██║   ██║███████║██████╔╝███████╗
╚██╗ ██╔╝██╔══██║██╔══██╗╚════██║
 ╚████╔╝ ██║  ██║██║  ██║███████║
  ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝
*/


@light-blue: #47a3da;
@darker-blue: #afdefa;

.pointHover{
	cursor: pointer;
}

.height10{
	margin-top: 10px;
}
.height20{
	margin-top: 20px;
}

/*
██████╗  ██████╗ ██████╗ ██╗   ██╗
██╔══██╗██╔═══██╗██╔══██╗╚██╗ ██╔╝
██████╔╝██║   ██║██║  ██║ ╚████╔╝
██╔══██╗██║   ██║██║  ██║  ╚██╔╝
██████╔╝╚██████╔╝██████╔╝   ██║
╚═════╝  ╚═════╝ ╚═════╝    ╚═╝
global body
*/

@col1: #E1D772;
@col2: #FAF4B1;
@textCol: #efeaea;


/*
██╗      ██████╗  ██████╗ ██╗███╗   ██╗
██║     ██╔═══██╗██╔════╝ ██║████╗  ██║
██║     ██║   ██║██║  ███╗██║██╔██╗ ██║
██║     ██║   ██║██║   ██║██║██║╚██╗██║
███████╗╚██████╔╝╚██████╔╝██║██║ ╚████║
╚══════╝ ╚═════╝  ╚═════╝ ╚═╝╚═╝  ╚═══╝
*/
.facebookLink{

}
/* end login --------------------- */

/*
███████╗██╗██████╗ ███████╗    ███╗   ██╗ █████╗ ██╗   ██╗
██╔════╝██║██╔══██╗██╔════╝    ████╗  ██║██╔══██╗██║   ██║
███████╗██║██║  ██║█████╗      ██╔██╗ ██║███████║██║   ██║
╚════██║██║██║  ██║██╔══╝      ██║╚██╗██║██╔══██║╚██╗ ██╔╝
███████║██║██████╔╝███████╗    ██║ ╚████║██║  ██║ ╚████╔╝
╚══════╝╚═╝╚═════╝ ╚══════╝    ╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝

snv = side nav view
*/

@darkBackground: #222222;

.snv-container {
	background-color: @darkBackground;
	position: fixed;
}

.snv-container h3 {
	color: @darker-blue;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background-: #0dyyb6;
}
.snv-container a {
	margin-left: 20px;
	cursor: pointer;
}


.snv-container-vertical {
	border: 3px solid #ffffff;
	width: 240px;
	height: 100%;
	right: -240px;
	top: 0;
	z-index: 1000;
}

.snv-container-right {
	right: -240px;
}

.snv-container-right-open{
	right: 0px;
}

.main-container-push {

	position: relative;
	left: -240px;
}
.main-containter-push-open{
	left: 0px;
}

/* Transitions */
.main-container-push,
.main-container-push-open,
.snv-container,
.snv-container-push {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all .2s ease;
    transition: all 0.2s ease;
}
/* End Side Nav -------------------- */

/*
New Subject
███╗   ██╗███████╗██╗    ██╗    ███████╗██╗   ██╗██████╗
████╗  ██║██╔════╝██║    ██║    ██╔════╝██║   ██║██╔══██╗
██╔██╗ ██║█████╗  ██║ █╗ ██║    ███████╗██║   ██║██████╔╝
██║╚██╗██║██╔══╝  ██║███╗██║    ╚════██║██║   ██║██╔══██╗
██║ ╚████║███████╗╚███╔███╔╝    ███████║╚██████╔╝██████╔╝
╚═╝  ╚═══╝╚══════╝ ╚══╝╚══╝     ╚══════╝ ╚═════╝ ╚═════╝
*/
@linkColor: #2a9fd6;
.articleSegment{
	margin-top: 10px;
	margin-bottom: 10px;
}
.articleHolder {
}

.NUSLink {
	color: @linkColor;
}

.NUSMessage{

}

/*
 █████╗ ██████╗ ████████╗███████╗ ██████╗ ██████╗ ███╗   ███╗
██╔══██╗██╔══██╗╚══██╔══╝██╔════╝██╔═══██╗██╔══██╗████╗ ████║
███████║██████╔╝   ██║   █████╗  ██║   ██║██████╔╝██╔████╔██║
██╔══██║██╔══██╗   ██║   ██╔══╝  ██║   ██║██╔══██╗██║╚██╔╝██║
██║  ██║██║  ██║   ██║   ██║     ╚██████╔╝██║  ██║██║ ╚═╝ ██║
╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝

*/
@formWell: #222222;

.customFormStyle{
	margin-top: 20px;
	background-color: @formWell;
}
.customFormStyle button{
	margin-bottom: 15px;
}

/*
██╗  ██╗ ██████╗ ███╗   ███╗███████╗
██║  ██║██╔═══██╗████╗ ████║██╔════╝
███████║██║   ██║██╔████╔██║█████╗
██╔══██║██║   ██║██║╚██╔╝██║██╔══╝
██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗
╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝
*/


.listHeight{
	margin-top: 10px;
}
